<!DOCTYPE html>
<html>
<head>
	<title>Edu Tec</title>

	<!-- Reset -->
	<link rel="stylesheet" type="text/css" href="../../public/assets/reset.css">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Style CSS -->
	<link rel="stylesheet" type="text/css" href="../../public/assets/style.css">

	<!-- Bootstrap JS -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<!-- Functionality JS -->

	<script type="text/javascript" src="../../public/scripts/auth_scripts/login.js"></script>

	<script type="text/javascript" src="../../public/scripts/auth_scripts/logout.js"></script>

	<script type="text/javascript" src="../../public/scripts/auth_scripts/register.js"></script>

	<script type="text/javascript" src="../../public/scripts/grades_scripts/modifygrades.js"></script>

	<script type="text/javascript" src="../../public/scripts/grades_scripts/viewgrades.js"></script>

	<script type="text/javascript" src="../../public/scripts/home/homepage.js"></script>

	<script type="text/javascript" src="../../public/scripts/seating_scripts/asc_seats.js"></script>

	<script type="text/javascript" src="../../public/scripts/seating_scripts/clearseats.js"></script>

	<script type="text/javascript" src="../../public/scripts/seating_scripts/desc_seats.js"></script>

	<script type="text/javascript" src="../../public/scripts/seating_scripts/randomgroups.js"></script>

	<script type="text/javascript" src="../../public/scripts/seating_scripts/randomparticipation.js"></script>

	<script type="text/javascript" src="../../public/scripts/seating_scripts/randomseats.js"></script>


</head>
<body>

<h1 id="h1Header"> Edu Tech </h1>
 
{{{ body }}}

</body>
</html>