<!DOCTYPE html>
<html>
<head>
	<title>EduTech</title>

	<!-- Reset -->
	<link rel="stylesheet" type="text/css" href="/assets/reset.css">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Style CSS -->
	<link rel="stylesheet" type="text/css" href="/assets/style.css">

	<link rel="stylesheet" type="text/css" href="/assets/about.css">

	<link rel="stylesheet" type="text/css" href="/assets/auth.css">

	<link rel="stylesheet" type="text/css" href="/assets/contact.css">

	<link rel="stylesheet" type="text/css" href="/assets/desk_action_buttons.css">

	<link rel="stylesheet" type="text/css" href="/assets/style.css">

	<link rel="stylesheet" type="text/css" href="/assets/faq.css">

	<link rel="stylesheet" type="text/css" href="/assets/footer.css">

	<link rel="stylesheet" type="text/css" href="/assets/home.css">

	<link rel="stylesheet" type="text/css" href="/assets/logo_row.css">

	<link rel="stylesheet" type="text/css" href="/assets/students_desk.css">

	<link rel="stylesheet" type="text/css" href="/assets/teachers_desk.css">

	<link rel="stylesheet" type="text/css" href="/assets/topheader.css">

	<!-- Jquery Source -->
	<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>

	<!-- Bootstrap JS -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<!-- Functionality JS -->

	<script type="text/javascript" src="/scripts/auth_scripts/login.js"></script>

	<script type="text/javascript" src="/scripts/auth_scripts/logout.js"></script>

	<script type="text/javascript" src="/scripts/auth_scripts/register.js"></script>

	<script type="text/javascript" src="/scripts/grades_scripts/modifygrades.js"></script>

	<script type="text/javascript" src="/scripts/grades_scripts/viewgrades.js"></script>

	<script type="text/javascript" src="/scripts/home/homepage.js"></script>

	<script type="text/javascript" src="/scripts/seating_scripts/asc_seats.js"></script>

	<script type="text/javascript" src="/scripts/seating_scripts/clearseats.js"></script>

	<script type="text/javascript" src="/scripts/seating_scripts/desc_seats.js"></script>

	<script type="text/javascript" src="scripts/seating_scripts/randomgroups.js"></script>

	<script type="text/javascript" src="scripts/seating_scripts/randomparticipation.js"></script>

	<script type="text/javascript" src="/scripts/seating_scripts/randomseats.js"></script>

	<script type="text/javascript" src="/scripts/home/handlebuttons.js"></script>

	<!-- Space for Font Codes .. Currently Empty -->


</head>
<body>

<header class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 topHeader">
	<button class="btn btn-default" id="registerButton">
		Register
	</button>

	<button class="btn btn-default" id="loginButton">
		Login
	</button>

	<button class="btn btn-default" id="logoutButton">
		Logout
	</button>
</header>

<div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 logoOnly">

	<img class="col-xs-12 col-sm-12 col-md-12 col-lg-12 logoImg" src="logo/EduTech.png" alt="Logo" >

</div>

<div id="row col-xs-12 col-sm-12 col-md-12 col-lg-12 holdBody">
 
{{{ body }}}

</div>

<footer id="footer1">
	
	<span id="copyRight"> &copy; 2016-2017 <strong> EduTech </strong> || UCF Coding Bootcamp 2016 </span>

	<br>

	<div id="footerButtons">
		
		<button class="btn btn-default" id="aboutET">
			About EduTech
		</button>

		<button class="btn btn-default" id="faqs">
			FAQ's
		</button>

		<button class="btn btn-default" id="contactUs">
			Connect With Us
		</button>

	</div>

</footer>

</body>
</html>