
<!DOCTYPE html>
<html>



<h1 id="abouth1">Meet EduTech!</h1>

<h2 id="abouth2" >EduTech was born in the classroom of the UCF bootcamp and created by the talent amazing group of Erik, Max, Jorge and Ibrahim.Welcome To Edu Tech: Where teacher tech is born. Here you will find technology for all of your teaching needs. Edu Tech offers a world class seating randomizer, made to help teachers with a classroom of any size. We offer teachers worldwide the ability to save time changing students seating. Made by teachers, for teachers! Many more features  coming soon!</h2>


</html>