<div class="container">
	<div class="row">
		<div class="col-xs-12 text-center" id="top-bar">
			
			<h1> FAQ's </h1>
		</div>
		<div class="col-xs-6 text-center" class="task">
		
				</div>


<div class="container">
	<div class="question">
		<div class="col-xs-12 text-center" >
			
			<h1>1.What happens when i click the buttons? </h1>
			<p> You go to neverland m8</p>
		</div>
		<div class="col-xs-6 text-center" class="task">
		
				</div>				