<div class="container">
	<div class="row">
		<div class="col-xs-12 text-center" id="top-bar">
			<img src="EduTech.png" alt="faq" />
			<h1> FAQ's </h1>
		</div>
		<div class="col-xs-6 text-center" class="task">
		
				</div>