<div class="container">
	
	<div class="jumbotron">

		<p id="welcomIntro">
			Welcome To Edu Teach . Where Teacher Tech is born.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sit amet ex in lorem ultricies rutrum. Nullam molestie tortor vel massa interdum fringilla. Aenean scelerisque porttitor risus, vel tristique nunc. In vel bibendum dolor, eu vehicula eros. Maecenas vestibulum nisl sed finibus suscipit. Nulla sit amet enim ligula. Ut nisl erat, molestie et euismod sit amet, auctor nec nibh. Praesent placerat porta congue. Donec ultrices, urna at blandit ullamcorper, tellus sapien pharetra odio, in malesuada mi eros imperdiet metus. Maecenas id magna vitae massa semper pharetra. Donec eu rhoncus mi. Cras molestie condimentum velit. Pellentesque pellentesque ex in vestibulum sodales. Morbi ac vestibulum ligula.
		</p>
		
		<button class="btn btn-default" id="edutechb">
			About Edutech
		</button>

		<button class="btn btn-default">
			FAQ's
		</button>

	</div>

</div>
