<div class="container">
	
	<div class="jumbotron">

		<p id="welcomIntro">
			Welcome To Edu Teach . Where Teacher Tech is born. Here you will find are your Teaching needs. Edu Teach offers seating randomizer made to help a teachers classroom of any size. In vel bibendum dolor, eu vehicula eros. Maecenas vestibulum nisl sed finibus suscipit. Nulla sit amet enim ligula. Ut nisl erat, molestie et euismod sit amet, auctor nec nibh. Praesent placerat porta congue. Donec ultrices, urna at blandit ullamcorper, tellus sapien pharetra odio, in malesuada mi eros imperdiet metus. Maecenas id magna vitae massa semper pharetra. Donec eu rhoncus mi. Cras molestie condimentum velit. Pellentesque pellentesque ex in vestibulum sodales. Morbi ac vestibulum ligula.
		</p>
		
		<button class="btn btn-default" id="aboutET">
			About Edutech
		</button>

		<button id="faqs" class="btn btn-default">
			FAQ's
		</button>

	</div>

</div>
