/*CSS in this file is only used for display on the home page, before user has registered or logged in to gain access to app.*/

.jumbotron{
	background-color: silver;
	text-align: center;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
/*	margin: 0;
	padding: 0;*/

}
#homeLogo{
    /*margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)

    op: 50%;
    left: 50%;
   height: auto;
   width: 450px;
  position: relative;

	display: flex;
	display: block;
    margin-left: auto;
    margin-right: auto 
    */
	width:100%
  max-width:100%;
  display: block;
   height: auto;
}