/*CSS in this file is only used for display on the home page, before user has registered or logged in to gain access to app.*/

.jumbotron{
	background-color: silver;
	text-align: center;
}

/*#edutechb{
    margin: 0 auto;
    margin-left: auto;
    margin-bottom:auto;
	text-align: center;
    display: block;
    border-radius: 200px 200px 200px 200px;
-moz-border-radius: 200px 200px 200px 200px;
-webkit-border-radius: 200px 200px 200px 200px;
border: 0px solid #000000 ;
}*/

.logoOnly {
    display: block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle ;
    text-align: center;
    width: 50%;
}