/*CSS in this file is only used for display on the home page, before user has registered or logged in to gain access to app.*/

.jumbotron{
	background-color: silver;
	text-align: center;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}
