body {
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6, body {
	padding: 0;
	margin: 0;
}

button:focus {
	outline: 0;
}

.btn:focus {
	outline: 0;
}

#selectRandomSeating{
    height:17px;
    width:17px;
    display:inline-block;
    background: url("../img/nav-expand.png") no-repeat top;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    position:absolute;
    right:10px;
    top:15px;
}

