/*Used to style teachers desk*/

        .forTeachers {
            margin-top: 10px;
            margin-bottom:10px;
        }

        .teachersDesksTall {
            height: 100%;
            height: 200px;
        }

        .teachersDesksTall {

            background-color:#79ADDC;
        }

            background-color: red;
        }

  /*  .header, .footer {
    min-height: 60px;
    padding: 0 15px;
}

.header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1002;
}*/

